data/akita-weather-edited.csv
data/akita-weather.csv
data/seattle-weather-edited.csv
data/seattle-weather.csv
data/takamatsu_weather.csv
data/takamatsu_weather_edited.csv
data/takada_weather.csv
data/takada_weather_edited.csv
data/seattle_weather.csv
data/seattle_weather_edited.csv
data/maebashi_weather.csv
data/maebashi_weather_edited.csv
data/chiba_weather.csv
data/chiba_weather_edited.csv
data/akita_weather.csv
data/abashiri_weather.csv
data/abashiri_weather_edited.csv
